
.search {
	position: fixed; 
    top: 10px; 
    right: 10px; 
	background: url('/images/search.png') no-repeat 8px 6px; 
	width:100px;
}
.rounded { 
	border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px; 
	padding:6px 15px 6px 30px;
}
input[type=text]{
	color:#bcbcbc;
}

.light input[type=text]{
	border:2px solid #acb1b7;
	background-color:#fcfcfc;
}